:root{
    --mobile:100px;
    --tablet:1080px;
}
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
body{
    margin: 0;
    background: linear-gradient(to top left, #00e6da, #53f1ea 50%, #8ffff9);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background: #0000007F;
}
header h1{
    margin-right: 10px;
    align-self: center;
    font-family: 'Mr Dafoe', cursive;
}
nav{
    display: flex;
    justify-content: space-between;
    background: #000000bf;
    position: sticky;
    top: 0px;
    height: 50px;
}
nav > section{
    display: flex;
}
nav>section>a{
    flex: 1;
    min-width: 100px;
}
button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ffffff;
}
button:hover{
    background: #00000044;
}
button:active{
    background: #00000099;
}
aside{
    display: inline-flex;
    flex-direction: column;
    background: #0000007F;
    height: 100vh;
    max-width: 13vw;
    float: left;
}
.search{
    margin-top: 5px;
    display: flex;
}
.search__input{
    background: #00000088;
    border: none;
    color: #ffffff;
    width: 10vw;
}
.search__input:focus{
    background: #000000aa;
    outline: none;
}
.buttons-context{
    display: flex;
    flex-direction: column;
}
.buttons-context a{
    flex-basis: 50px;
}
.corporative{
    font-size: smaller;
    margin-top: auto;
}
.corporative__name{
    font-weight: bolder;
}
article{
    display: inline-grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    min-height: 100vh;
    width: 86vw;
    align-items: center;
    justify-items: center;
    background: #ffffff33;
}
.product{
    display: flex;
    flex-direction: column;
    width: min-content;
    background: #ffff0088;
    border-radius: 10%;
    height: 80%;
    width: 50%;
    align-items: center;
    transition: background .5s;
}
.product img{
    height: 30vh;
    max-width: 10vw;
    object-fit: fill;
}
.product__title{
    font-family: 'Mr Dafoe', cursive;
}
.product__description{
    text-align: center;
}
.product:hover{
    background: #ff000088;
    border-radius: 15%;
}