@media only screen and (max-width:100px) {
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        display: block;
        height: fit-content;
    }
    header h1{
        display: none;
    }
    header img{
        max-width: 100%;
        object-fit: contain;
    }
    nav{
        position: unset;
        flex-direction: column;
    }
    .buttons-movement{
        background: #00000099;
    }
    nav > *{
        max-width: 100%;
        height: 10vh;
        overflow: scroll;
        scrollbar-width: none;
    }
    .search__button{
        display: none;
    }
    .search__input{
        width: 98%;
        margin: 1%;
    }
    .corporative{
        display: none;
    }
    nav > *::-webkit-scrollbar{
        display: none;
    }
    .marketing{
        display: none;
    }
}