@media only screen and (max-width:100px) {
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        display: block;
        height: fit-content;
    }
    header h1{
        display: none;
    }
    header img{
        max-width: 100%;
        object-fit: contain;
    }
    .marketing{
        display: none;
    }
}