body{
    display: grid;
    grid-template-columns: 13vw 87vw;
    grid-template-rows: 15vh 10vh 100vh 30vh 5vh;
}
header{
    grid-column: 1/3;
}
nav{
    grid-column: 1/3;
}
aside{
    grid-row: 3/5;
}
footer{
    grid-column: 1/3;
}